[Desktop Entry]
Encoding=UTF-8
Name=Link to Resolving a merge conflict using the command line - GitHub Help
Type=Link
URL=https://help.github.com/en/articles/resolving-a-merge-conflict-using-the-command-line
Icon=text-html
